@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("./assets/fonts/Raleway-Bold.ttf") format("ttf");
  src: url("./assets/fonts/Raleway-Light.ttf") format("ttf");
  src: url("./assets/fonts/Raleway-Medium.ttf") format("ttf");
  src: url("./assets/fonts/Raleway-Thin.ttf") format("ttf");
  /* font-display: swap;
  font-style: normal; */
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  /* background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(54, 22, 201, 0.13) );  */

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
