// ==== COLORS ====
$textColor: #fff;
$primaryColor: #1976d2;
$backgroundColorDark: #242426;
$backgroundColorLightGray: #ededf0e7;
$errorColor: #ff00c8;   

// ==== TEXT ====

$fontPoppins: "Poppins", sans-serif;
$fontRaliway:  "Poppins", sans-serif;